* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(64, 64, 64);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  width: 80%;
  margin: auto;
}