html, body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stock-display-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  width: 200px;
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
}

img {
  max-width: 15px;
  margin-left: 5px;
}
